.App{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    transition: all 0.7s ease;
}
.dark{
    background-color: black;
    color: rgb(255, 255, 255);
    transition: all 0.7s ease;
}
.dark-btn{
    background-color: rgb(32, 32, 32);
    color: white;
    cursor: pointer;
}
.light-btn{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.buttons .dark-btn{
    border-radius: 10px 0px 0px 10px;
    font-size: 30px;
    padding: 10px;
}
.buttons .light-btn{
    border-radius: 0px 10px 10px 0px;
    font-size: 30px;
    padding: 10px;
}



